<link rel="stylesheet" href="./about.css">
<section class="about-section">
    <div class="container">
        <h1>About Us</h1>
        <p class="subheading">Everything About Us</p>
        <div class="content">
            <div class="image">
                <img src="../images/sustainable-travel-concept-1-scaled.jpg" alt="About Us Image">
            </div>
            <div class="text">
                <h2>Who are we</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, omnis expedita! Eum, praesentium cumque accusantium rem, sit quaerat est nisi ratione, deserunt ducimus quidem iste dicta quibusdam atque maxime cum!</p>
                <h2>Our culture</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, omnis expedita! Eum, praesentium cumque accusantium rem, sit quaerat est nisi ratione, deserunt ducimus quidem iste dicta quibusdam atque maxime cum!</p>
                <h2>How we work</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, omnis expedita! Eum, praesentium cumque accusantium rem, sit quaerat est nisi ratione, deserunt ducimus quidem iste dicta quibusdam atque maxime cum!</p>
            </div>
        </div>
        <button onclick="loadPage('service')">Our Services</button>
    </div>
</section>
