<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoWaste</title>
    <link rel="stylesheet" href="header.css">
</head>
<body class="hh">
    <header class="main">
        <div class="contact-info">
            <span class="contact-item">
                <img src="../images/telephone-phone-mobile-cellphone.256x256.png" alt="Phone Icon">
                +569 2316 2156
            </span>
            <span class="contact-item">
                <img src="../images/email.256x197.png" alt="Email Icon">
                ecowaste@gmail.com
            </span>
        </div>
        <div class="social-links">
        <a href="#"><img src="../images/facebookicon.png" alt="Facebook"></a>
        <a href="#"><img src="../images/tweeter.png" alt="Twitter"></a>
        <a href="#"><img src="../images/email-icon-free-vector.jpg" alt="Email"></a>
    </div>
    </header>
    <nav>
        <div class="logo">
            <img src="../images/GUARD (1).png" alt="EcoWaste">
        </div>
        <ul class="nav-links">
            <li><a href="#" onclick="loadPage('home')">Home</a></li>
            <li><a href="#" onclick="loadPage('about')">About Us</a></li>
            <li><a href="#" onclick="loadPage('service')">Services</a></li>
            <li><a href="#" onclick="loadPage('contact')">Contact Us</a></li>
        </ul>
        <a href="signup.html" class="donate-btn">Signup/Login</a>
    </nav>
</body>
</html>
