body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 50px 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.login-box {
    width: 90%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password {
    text-align: left;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #555;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#77B900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #77B900;
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: #77B900;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
