<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Waste Managent System User Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="header"></div>
    <div class="login-container">
        <div class="login-box">
            <h2>User Login</h2>
            <p>Login with your Email and password</p>
            <form>
                <div class="input-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit">Login</button>
                <div class="signup">
                  Are Not yet a member? <a href="signup.html">Signup now</a>
                </div>
            </form>
        </div>
    </div>
    <div id="footer"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header').innerHTML = data;
                });
            
            fetch('footer.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('footer').innerHTML = data;
                });
        });
    </script>
</body>
</html>
