<link rel="stylesheet" href="./service.css">
<section class="services-section">
    <div class="container">
        <h1>Our Services</h1>
        <p>Consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        <button onclick="loadPage('contact')">Contact Us</button>
        <div class="services-container">
            <div class="service-card">
                <div class="icon">
                    <img src="../images/garbage-collector-1529660-1293226.webp" alt="Consultation">
                </div>
                <h2>Waste Collection</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
            <div class="service-card">
                <div class="icon">
                    <img src="../images/recycal.png" alt="Best Ideas">
                </div>
                <h2>Recycling</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
            <div class="service-card">
                <div class="icon">
                    <img src="../images/1465973.png" alt="Simple Setting">
                </div>
                <h2>Fertilizer Making</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            </div>
        </div>
    </div>
</section>
