<link rel="stylesheet" href="./service.css">
<section class="services-section">
    <div class="container">
        <h1>Our Services</h1>
        <p>We offer a range of services aimed at efficient and sustainable waste management.</p>
        <button onclick="loadPage('contact')">Contact Us</button>
        <div class="services-container">
            <div class="service-card">
                <div class="icon">
                    <img src="../images/garbage-collector-1529660-1293226.webp" alt="Waste Collection">
                </div>
                <h2>Waste Collection</h2>
                <p>We provide reliable and timely waste collection services to keep our communities clean and green.</p>
            </div>
            <div class="service-card">
                <div class="icon">
                    <img src="../images/recycal.png" alt="Recycling">
                </div>
                <h2>Recycling</h2>
                <p>Our recycling services help reduce landfill waste by processing recyclable materials and turning them into new products.</p>
            </div>
            <div class="service-card">
                <div class="icon">
                    <img src="../images/1465973.png" alt="Fertilizer Making">
                </div>
                <h2>Fertilizer Making</h2>
                <p>We convert organic waste into high-quality fertilizers, promoting sustainable agriculture and reducing waste.</p>
            </div>
        </div>
    </div>
</section>
